{% extends "layout.html" %}
{% block content%}

<div style="margin:20px auto; width:85%;">
  <h1 class="text-center text-primary"> You are Editing</h1><br>
  <table class="table-responsive" style="width:80%;margin:0 auto;">
    <tbody>
      <tr style="border-bottom:2px solid darkblue;">
        <th style="border-right:3px solid darkblue;width:20%"> Task </th>
        <td> {{task.task_text}} </td>
      </tr>
      <tr>
        <th style="border-right:3px solid darkblue; width:20%"> Tags </th>
      <td> {{task.tag_text}} </td>
      </tr>
    </tbody>
    </table>
    <p style="margin:20px auto; width:60%; text-align:center;">
      You can modify above set here -
      Leave the field blank if it's not to be changed
    </p>
    <form style="width: 100%; padding: 1em 2em 0; display:inherit;" action="/edit/{{task.id}}" method="post">
        {% csrf_token %}
        {{form.enter_task}}
        {{form.enter_tags}}
        <center> <input type="submit" class="btn btn-default" value="Submit" /> </center>
    </form>
    <br />
    <p style="font-size:115%; text-align:center; margin:10px auto;"><a href="/">Go Back</a></p>
</div>
{% endblock content%}
