{% extends "layout.html" %}
{% block content %}
<body>
  <!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{your-app-id}',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
    <div class="section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8" style="z-index:3;">
            <h1 class="text-center text-primary"> <i class="fa fa-fw fa-tasks text-primary"></i>WhatTodo?</h1>
              <form class="forms" action="/" method="post">
                {% csrf_token %}
                {{form.enter_task}}
                {{form.enter_tags}}
                <center><b style="padding:10px"> {{form.bookmark}} Bookmark </b>
                   <input type="submit" class="btn btn-default" value="Submit" /> </center>
              </form>
              <br/>
              <div class="col-md-12" id="tasks">
                <hr> <p style="margin:5px"> <a href="{% url 'todo:search' %}"style="font-size:150%"><i class="fa fa-fw fa-search"></i> <b> Search Tasks by Tags </b></a></p> <hr>
                <br>
                  {% if task_list %}
                  <table class="table-responsive">
                  <thead style="border-bottom:2px solid darkblue;"> <tr><th>#</th> <th>Task &amp; Tags</th> <th colspan="4"> Options </th></tr></thead>
                  <tbody>
                    {% for task in task_list %}
                    <tr style="border-bottom:2px solid steelblue">
                      <td style="vertical-align:middle;"> {{forloop.counter}} </td>
                      <td style="width:80%; padding:20px;"> {{task.task_text}} <hr style="border-color:grey; width:50%; margin:auto;"> {{task.tag_text}} </td>
                      <th style="padding:5px;"><a href="{% url 'todo:edit' task.id %}" >&#x270E; </a></th>
                      <th style="padding:5px;">
                        {% if task.done %}
                        <a href="{% url 'todo:completed' task.id%}" title="Completed">&#x2714;</a>
                        {% else %}
                        <a href="{% url 'todo:completed' task.id%}" title="Not Completed"> &#x2705; </a>
                        {% endif %}
                      </th>
                      <th style="padding:5px;">
                        {% if task.bookmarked %}
                        <a href="{% url 'todo:bookmark' task.id%}"> &#x2605; </a>
                        {%else%}
                        <a href="{% url 'todo:bookmark' task.id%}"> &#x2606; </a>
                        {% endif %}
                      </th>
                      <th style="padding:5px;"> <a href="{% url 'todo:delete' task.id%}"> &#x2620; </a> </th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                  <p style="font-size:150%; padding-top:5px; text-align:center;">No tasks available.</p>
                  <div class="col-md-offset-3 col-md-6 col-md-offset-3" style="margin-bottom:20px;opacity:0.65; filter:alpha(opacity=65)">
                      <ul class="list-unstyled">
                        <li>
                          <b>'WhatToDo?' is a simple task management app</b>
                        </li>
                        <li>Edit your tasks/Tags</li>
                        <li>Bookmark specfic tasks for easy access</li>
                        <li>Search Tasks by its Tags</li>
                      </ul>
                  </div>
                  {% endif %}
          </div>
        </div>
          <div class="col-md-4" id="bookmarks">
            <h1 class="text-center text-primary"> &#x2605; Bookmarked Tasks </h1><br/ >
            <table class="table-responsive">
            {% if bk_list %}
            <thead style="border-bottom:2px solid darkblue;"> <tr><th>#</th> <th>Task &amp; Tags</th> <th>? </th></tr></thead>
              <tbody>
              {% for task in bk_list %}
                <tr style="border-bottom:2px solid steelblue;">
                  <td style="vertical-align:middle;"> {{ forloop.counter }}  </td>
                  <td> {{task.task_text}} <hr style="border-width:2px; border-color:grey;width:50%;margin:auto;"> {{task.tag_text}} </td>
                  <th> <a href="{%url 'todo:bookmark' task.id%}"> &#x2605; </a> </th>
                </tr>
              {% endfor %}
              </tbody>
              </table>
            {% else %}
              <p style="font-size:150%; text-align:center;">No tasks bookmarked.</p>
            {% endif %}
            <div style="margin:30px auto; width:90%;" align="center">
              <a href="https://gitlab.com/manjuhere/todoapp" target="_blank"><i class="fa fa-fw fa-github"></i></a>
              <a href="https://angel.co/manjunath-chandrashekar" target="_blank"><i class="fa -official fa-fw fa-angellist"></i></a>
              <a href="https://www.linkedin.com/in/manjunathchandrashekar" target="_blank"><i class="fa fa-fw hub fa-linkedin-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
