<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <title>{% block title %}WhatTodo{% endblock %}</title>
  </head>
  <style media="screen">
    html,body {background-color: lightsteelblue; height:100%;}
    a {text-decoration: none;font-size: 200%}
    th, td { vertical-align:middle; text-align: center;}
    td {padding-top: 10px; padding-bottom: 10px;}
    input[type=text] {
      padding: 6px 10px;
      margin: 5px 0;
      box-sizing: border-box;
      width: 100%; padding: .5em 1em;
    }
    input[type=text]:focus {
      border: 3px solid #555;
    }
    hr {border-color: black; border-width: 3px; margin:auto; width: 50%}
    input[type=submit] {
      display: inline;
      border: none;
      cursor: pointer;
      color: black; padding: .5em 2em; white-space: nowrap; margin: 0 0 0 0em;
    }
    .table-responsive {
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border-collapse: collapse;
      border: 0;
    }
    th:hover {
      background-color:lightslategray;
    }
    .section {
      padding: 0px;
    }
    .forms {
      width: 100%; padding: 1em 2em 0;
      display: table-cell;
    }
    .list-unstyled {
      padding: 5px;
      font-size: 110%;
      text-align: left;
    }
    #bookmarks{
      position: fixed;
      right: 0%;
      height: 100%;
      overflow-y: auto;
      z-index: 2;
    }
    @media screen and (max-width: 992px) {
      #bookmarks {
        position: absolute;
        overflow: auto;
        left: 0;
        right: 0;
      }
    }
    #tasks  {
      text-align: center;
      width: 100%;
    }
    #highlighttags  {
      width: 60%;
      margin: 0 auto;
      background-color: lightblue;
      align-self: center;
    }
    #highlighttags span {
	    background:#fff;
	    padding:1px 2px;
      margin: 15px 5px;
	    color:#bb610b;
	    size:200%
    }
  </style>
<body>
{% block content%}
{% endblock content%}
</body>
