{% extends "layout.html" %}
{% block title %}Todo-Search{% endblock title%}
{% block content %}

<div>
  <h1 class="text-center text-primary"> <i class="fa fa-fw fa-search"></i>Search By Tags</h1><br>
  <div id="highlighttags">

    <p style="font-size:150%; text-align:center;">All Tags</p>
    <div style="margin:0 auto; width:80%; ">
      {% for t in alltags%}
      <span>{{t}}</span>
      {% endfor %}
    </div>
  </div>
  <div style="margin:0 auto;width:80%;">
  <br />
  <form style=";width: 100%; padding: 1em 2em 0; display:inherit;" action="/search/{{text}}" method="post">
    {% csrf_token %}
      {{ form.search_task }} <center><input type="submit" value="Search"></center>
  </form>
  <br /><hr><br />
  </div>
</div>
<div style="margin:20px auto; width:80%;">
  {% if method == "POST" %}
  <table class="table-responsive">
  {% if resultFound %}
  <thead style="border-bottom:2px solid darkblue;"> <tr><th>#</th> <th>Task &amp; Tags</th> <th>? </th></tr></thead>
    <tbody>
    {% for task in resultFound %}
      <tr style="border-bottom:2px solid steelblue;">
        <td style="vertical-align:middle;"> {{ forloop.counter }}  </td>
        <td> {{task.task_text}} <hr style="border-width:2px; border-color:grey;width:50%;margin:auto;"> {{task.tag_text}} </td>
        <td> <a href="{%url 'todo:bookmark' task.id%}"> &#x2605; </a> </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% else %}
      <p style="font-size:300%; text-align:center; margin:100px;"> No Results found :(</p>
  {% endif %}
  {% endif %}
  <p style="font-size:115%; text-align:center; margin:10px auto;"><a href="/">Go Back</a></p>

</div>
{% endblock content %}
